@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 100vh;
  background: #070d18;
  color: white !important;
}

.container {
  height: 100%;
  width: 95%;
  margin: auto;
  padding-top: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Left

.left {
  width: 25%;
}

// Center

.center {
  width: 50%;
  height: 100%;

  padding: 100px 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.centerTexts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.centerText1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: center;

  span {
    color: #41bbbeaa;
  }
}

.centerText2 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 37.9px;
  letter-spacing: 0%;
  text-align: center;
}

.numbers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.centerCardP1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 35px;
  line-height: 66.32px;
  letter-spacing: 0%;
  color: #dbdbdb;
  text-align: center;
}

.centerCardP2 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 13px;
  line-height: 24.63px;
  letter-spacing: 0%;
  text-align: center;
  color: #dbdbdb;
}

// Right

.right {
  width: 25%;
}
