$primary-bg: #070d18;
$card-bg: #121723;
$card-border: #2a2f3b;
$hover-bg: #1a2130;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 350px;
  max-width: 100%;
  background-color: $primary-bg;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.navbar.open {
  transform: translateX(0);
}

.closeBtn {
  display: none;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 8px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1100;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.logoImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.logoText {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -1%;
  margin-left: 10px;
  cursor: pointer;
}

.navList {
  list-style: none;
  flex-grow: 1;
}

.navItem {
  margin-bottom: 15px;
}

.navLink {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  text-decoration: none;
  padding: 12px;
  border: 1px solid $card-border;
  border-radius: 8px;
  background-color: $card-bg;
  transition: background-color 0.2s, border-color 0.2s, transform 0.1s,
    color 0.2s;
}

.navLink:hover {
  background-color: $hover-bg;
  border-color: $card-border;
  transform: translateX(5px);
}

.navLink.active {
  background-color: $hover-bg;
  color: #4a90e2; // Highlight color for active page
  border-color: $card-border;
}

.navLink.active .icon {
  color: #4a90e2; // Icon color matches active page
}

.icon {
  margin-right: 10px;
  font-size: 18px;
  color: #ffffff;
  transition: color 0.2s;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .navbar {
    width: 100%;
    transform: translateX(-100%);
    padding: 16px;
    padding-top: 80px;
  }

  .navbar.open {
    transform: translateX(0);
  }

  .closeBtn {
    display: block;
  }

  .logoContainer {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .navList {
    padding-top: 20px;
  }

  .navItem {
    padding-top: 10px;
  }
}

@media (max-width: 400px) {
  .navbar {
    padding: 12px;
    padding-top: 80px;
  }

  .logoImage {
    width: 60px;
    height: 60px;
  }

  .logoText {
    font-size: 24px;
  }
}
